.box{
    background-color: #3c4b6d !important;
}

#search-control{
    width: 500px !important;
}

@media (max-width: 1024px) {
	#search-control{
        width:450px !important;
    }
}
@media (max-width: 768px) {
	#search-control{
        width: 350px !important;
    }
}
@media (max-width: 600px) {
	#search-control{
        width: 250px !important;
    }
}
@media (max-width: 480px) {
	#search-control{
        width: 100% !important;
    }
}

#search{
    width: 100%;
    max-width: 100%;
}