<% //footer Content %> 
<%- include('../../components/home/footerContent.ejs') %> 


</section>

<!-- scripts -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script src="/static/js/fontawesome.js"></script>
<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/voiceSearch.js"></script>

</body>
</html>